@media (max-width: 1024px) {
  .main {
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    width: 400px;
  }
}

@media (max-width: 850px) {
  nav {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  /*.main {
    justify-content: space-around;
  }*/

  .main {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 600px;
  }

  .card img {
    height: auto;
  }
}
